<section class="gls-section-default">
  <img src="/themes/custom/theme_uou/img/abstract-bg-a.jpg" alt="placeholder" class="gls-hidden@m">
  <div class="gls-section gls-background-norepeat gls-background-cover gls-background-center-center gls-background-image@m" style="background-image: url(/themes/custom/theme_uou/img/abstract-bg-a.jpg)">
      <div class="gls-container">
          <div gls-grid class="gls-grid-large gls-flex-middle gls-grid">
              <div class="gls-width-3-5@m gls-text-center gls-text-left@m gls-first-column">
                  <div class="gls-hidden@m">
                      <ul class="gls-breadcrumb gls-breadcrumb-secondary gls-flex-inline">
                          <li>
                              <a href="https://healthcare.utah.edu" class="gls-flex gls-flex-middle">
                                  <span gls-icon="icon: arrow-left; ratio: 0.5" class="gls-margin-xsmall-right gls-icon"></span>
                                  Health Care Home
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div class="gls-visible@m">
                      <ul class="gls-breadcrumb gls-breadcrumb-secondary gls-flex-inline">
                          <li><a href="/">Health Care Home</a></li>
                      </ul>
                  </div>
                  <h1 class="gls-heading gls-heading-medium gls-text-medium gls-text-wide gls-text-uppercase gls-margin-remove-top">Health Care Calendar</h1>
              </div>
              <div class="coh-container gls-width-1-1 gls-width-auto@m gls-text-center gls-text-right@m">
                  <a href="https://md.utah.edu/calendar/eventrequest-healthcare.php" class="gls-button gls-button-primary gls-button-large gls-text-uppercase gls-text-wide" target="_blank">
                    Submit an Event <span class="gls-inline-element gls-margin-small-left gls-icon" gls-icon="icon: chevron-right; ratio: 0.65"></span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
<app-calendar-list></app-calendar-list>
